@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
This is a test paragraph for the first example.
</p>


<div class="row">
    <div class="col">
        column  1
    </div>
    <div class="col">
        column  2
    </div>
    <div class="col">
        column  3
    </div>
</div>
<div class="row">
    <div class="col">
        column  21
    </div>
    <div class="col-8">  <!-- 1 space within tab -->
        column  22
    </div>
    <div class="col">
        column  33
    </div>
</div>
<div class="row">
    <div class="col">
        column  31
    </div>
    <div class="col-6">  <!-- min space -->
        column  32
    </div>
    <div class="col">
        column  33
    </div>
</div>





