@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
This is a test paragraph for the first example.
</p>


<h4>Example 1: Width of objects</h4>

<div class="w-25 p-3 bg-primary">Width 25%</div>
<div class="w-50 p-3 bg-secondary">Width 50%</div>
<div class="w-75 p-3 bg-primary">Width 75%</div>
<div class="w-100 p-3 bg-secondary">Width 100%</div>
<div class="w-auto p-3 bg-primary">Width auto</div>


